html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

main {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

svg {
  width: 100vw;
}


*, *:after, *:before {
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
}

