body {
  width: 100%;
  background-color: white !important;
  height: 100vh;
  justify-content: center;
  display: grid;
  align-content: center;
  overflow: hidden;
}


#earth_icon,
#InnerPatternPath01,
#InnerPatternPath02,
#InnerPatternPath03,
#InnerPatternPath04,
#InnerPatternPath05,
#InnerPatternPath06,
#InnerBackground02
{
  opacity: 0;
  visibility: hidden;
}
