$desktop: 1200px;
$tablet: 767px;
$mobile: 600px;
$hd: 1919px;


// Colors
$white: #fff;
$darkBlue: #264653;
$orange: #E76F51;

// Layout for item
main.default {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: $orange;

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  a {
    height: 100%;
    background: transparent url('~assets/oval.svg') center no-repeat;
    min-height: 300px;
    max-height: 600px;
    @media screen and (min-width: $desktop) {
      height: 600px;
    }
  }


  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //border: 4px solid transparent;
    transition: 0.3s all ease-in;

    &:hover {
      //border: 4px solid red;
    }
  }
}

// Navigation acrive element

.nuxt-link-exact-active {
  p {
    color: $darkBlue;
  }

  svg {
    path {
      fill: $darkBlue
    }
  }
}


