body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  overflow: hidden;
}

.container{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content:center;
}

.container >*{
  width: 900px;
}

.controls{
      position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-content: center;
    font-size: 0.5rem;
    list-style: none;
    top: 0;
    left: 0;
  opacity: 0.4;
  
}
#catalyst-consortium{
  opacity: 0;
  visibility: hidden;
}